header{
	font-family: "Oswald";
}
.title{
	font-weight: 900;
	color: blue;
}
.menu a{
	color: lightblue;
	font-weight: 700;
}
h2{
	font-weight: 700;
}
main{
	font-family: "lato";
}
main p{
	color: rgb(99, 26, 26);
}
main span{
	color: red;
	font-weight: 900;
}
footer{
	font-family: "Larsseit";
	font-style: italic;
	font-weight: 700;
}
footer a{
	display: block;
}