/* &display=swap */


@font-face {
	font-family: "RetroLandMayhem";
	src: url("../fonts/retro-land-mayhem.woff2") format("woff2"), url("../fonts/retro-land-mayhem.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
