
[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
	
}
.wrapper{	
	font-family: "RetroLandMayhem";
	min-height: 100%;
	overflow: hidden;
	position: relative;
	color: #fff;
	background: url('../img/background1-1.jpg') center/cover no-repeat;
	padding: 15px;
	animation: background 35s steps(1) forwards;
}

.game {}

.game__container {}
.game__header {}
.game__main{}

/* =======================menu======================================== */
.game__menu {
	max-width: 1720px;
	margin: 0px auto;
	position: relative;
	z-index: 100;
}

/* .game__list li:not(:last-child) {
	margin: 0px 150px 0px 0px;
} */
.game__list{
	display: flex;
	justify-content: space-between;
}
.game__item {
	font-size: 35px;
}

/* ============================screen-1============================== */

.screen-1 {
	position: relative;
}

.question {
	position: absolute;
	width: 54px;
	height: 55px;
	background: url('../img/que.png') center/cover no-repeat;
	animation: question 0.5s linear alternate infinite;
}

.screen-1__question {}

.screen-1__question--1 {
	top: 445px;
	left: 540px;
}

.screen-1__question--2 {
	top: 445px;
	left: 766px;
}

.screen-1__question--3 {
	top: 445px;
	left: 874px;
}

.screen-1__question--4 {
	top: 275px;
	left: 820px;
}

.block {
	position: absolute;
	width: 54px;
	height: 55px;
	background: url('../img/block.png') center/cover no-repeat;
}

.screen-1__block {}

.screen-1__block--1 {
	top: 445px;
	left: 712px;
}


.screen-1__block--2 {
	top: 445px;
	left: 820px;
}

.screen-1__block--3 {
	top: 445px;
	left: 928px;
}


/* ==================================animations====================== */
/* @keyframes background {
	14%{
		background: url('../img/background1-1.jpg') center/cover no-repeat;
	}
	28%{
		background: url('../img/background2-1.jpg') center/cover no-repeat;
	}
	42%{
		background: url('../img/background3-1.jpg') center/cover no-repeat;
	}
	56%{
		background: url('../img/background4-1.jpg') center/cover no-repeat;
	}
	70%{
		background: url('../img/background5-1.jpg') center/cover no-repeat;
	}
	84%{
		background: url('../img/background6-1.jpg') center/cover no-repeat;
	}
	100%{
		background: url('../img/background7-1.jpg') center/cover no-repeat;
	}
} */

@keyframes question{
0%{
	background: url('../img/que.png') center/cover no-repeat;
}
100%{
	background: url('../img/que2.png') center/cover no-repeat;
}
}